@import "tailwindcss";

@theme {
  /* monochrome */
  --color-monochrome-white: #ffffff;
  --color-monochrome-100: #d5d5d5;
  --color-monochrome-200: #cacaca;
  --color-monochrome-300: #bfbfbf;
  --color-monochrome-400: #acacac;
  --color-monochrome-500: #797979;
  --color-monochrome-black: #000000;

  /* primary */
  --color-primary-200: #bdc1f6;
  --color-primary-300: #9bf3ff;
  --color-primary-400: #5863ec;
  --color-primary-500: #3e4cf7;
  --color-primary-600: #384084;
  --color-primary-700: #2333ff;
}

body {
  color: var(--color-monochrome-black);
  font-family: var(--font-pretendard), sans-serif;
}

@layer base {
  button {
    cursor: pointer;
  }

  button:disabled {
    pointer-events: none;
  }
}

@layer utility {
  .en-text {
    font-family: var(--font-loos-normal), sans-serif;
  }
}
